.Avata{
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: right !important;
    display: flex !important;
}

.Avata img{
    width: 30%;
    margin: auto !important;
    border-radius: 50% !important;
}