{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}


{% block bodyclass %}
    {{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
</div>
{% endblock %}


{% block content %}
<form action="" method="get" id="documentForm">{% csrf_token %}
    <div>
        <p>Your document has any problematic data (colliding ids, broken tags parity, invalid
                markdown of any other type), so the document should not be saved</p>
        <!--<a href="/admin/backend/document/{{obj_id}}/change/" class="button cancel-link">Go back</a>-->
        <a onclick="goBack()" class="button cancel-link">Go back</a>
    </div>
</form>
<script>
function goBack(){
    window.history.back();
}
</script>

{% endblock %}